{
  "extends": "standard",
  "plugins": [
    "standard",
    "promise"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "padded-blocks": 0,
    "semi": [
      2,
      "always"
    ],
    "indent": [
      2,
      4
    ],
    "eol-last": [
      1,
      "always"
    ]
  }
}