* {
    box-sizing: border-box;
    overflow: hidden;
}

audio::-webkit-media-controls-enclosure,
video::-webkit-media-controls-enclosure {
    display: none;
}

canvas,
video {
    display: block;
    margin: auto;
    height: 100vmin;
}

body,
video {
    background-color: #000;
}

#previewbox {
    width: 100%;
    height: 100%;
}

.absolute {
    position: absolute;
}

.transparent {
    display: none;
}

.opaque {
    display: block;
}

i.error {
    width: 1px;
    height: 1px;
    color: red;
}

.all-render-hacks {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.shutter {
    border: 1px solid #1cbbff;
    /*animation-name: cameraFlash;
    animation-duration: 2s;
    animation-iteration-count: 1;*/
}

@keyframes cameraFlash {
    0% {
        filter: brightness(99999%) saturate(0) blur(1px);
    }

    20% {
        filter: brightness(200%) saturate(100%) blur(0);
    }

    100% {
        filter: brightness(100%);
    }
}
